body { font-size: 80%; font-family: verdana, arial, helvetica, sans-serif; }
p { margin-top: 0.6em; margin-bottom: 0.6em; text-align: left;	line-height: 150%; margin-left: 2em; }
h1 { font-size: 125%; margin-top: 0.4em; margin-bottom: 0.5em; }
h2 { font-size: 110%; margin-top: 2em; margin-bottom: 0.5em; color: red; }
h3 { font-size: 100%; margin-top: 1.2em; margin-bottom: 0.5em; font-weight: bold; margin-left: 1em; }
